@import "./variables/colors.scss";

:root {
  --color-brand-50: #{$color-brand-50};
  --color-brand-100: #{$color-brand-100};
  --color-brand-200: #{$color-brand-200};
  --color-brand-300: #{$color-brand-300};
  --color-brand-400: #{$color-brand-400};
  --color-brand-500: #{$color-brand-500};
  --color-primary-10: #{$color-primary-10};
  --color-primary-25: #{$color-primary-25};
  --color-primary-50: #{$color-primary-50};
  --color-primary-100: #{$color-primary-100};
  --color-primary-200: #{$color-primary-200};
  --color-primary-300: #{$color-primary-300};
  --color-primary-400: #{$color-primary-400};
  --color-primary-500: #{$color-primary-500};
  --color-gray-100: #{$color-gray-100};
  --color-gray-200: #{$color-gray-200};
  --color-gray-300: #{$color-gray-300};
  --color-gray-400: #{$color-gray-400};
  --color-gray-500: #{$color-gray-500};
  --color-gray-600: #{$color-gray-600};
  --color-secondary-100: #{$color-secondary-100};
  --color-secondary-200: #{$color-secondary-200};
  --color-secondary-300: #{$color-secondary-300};
  --color-secondary-400: #{$color-secondary-400};
  --color-secondary-500: #{$color-secondary-500};
  --color-background-100: #{$color-background-100};
  --color-background: #{$color-background};
  --color-background-600: #{$color-background-600};
  --color-background-orange: #{$color-background-orange};
  --color-background-orange-400: #{$color-background-orange-400};
  --color-sidebar: #{$color-sidebar};
  --color-text: #{$color-text};
  --color-green-100: #{$color-green-100};
  --color-green-200: #{$color-green-200};
  --color-green-400: #{$color-green-400};
  --color-green-500: #{$color-green-500};
  --color-cyan-50: #{$color-cyan-50};
  --color-cyan-500: #{$color-cyan-500};
  --color-purple-50: #{$color-purple-50};
  --color-purple-500: #{$color-purple-500};
  --color-pink-50: #{$color-pink-50};
  --color-pink-500: #{$color-pink-500};
  --color-gold: #{$color-gold};
  --color-silver: #{$color-silver};
  --color-brass: #{$color-brass};
}
