$color-brand-10: #FEF4F1;
$color-brand-25: #FDECE7;
$color-brand-50: #FCE1DA;
$color-brand-100: #F8C3B5;
$color-brand-200: #F4A590;
$color-brand-300: #F0876A;
$color-brand-400: #ED6A45;
$color-brand-500: #E8471C;

$color-primary-10: $color-brand-10;
$color-primary-25: $color-brand-25;
$color-primary-50: $color-brand-50;
$color-primary-100: $color-brand-100;
$color-primary-200: $color-brand-200;
$color-primary-300: $color-brand-300;
$color-primary-400: $color-brand-400;
$color-primary-500: $color-brand-500;

$color-gray-100: #DEDFE3;
$color-gray-200: #C8C9D0;
$color-gray-300: #B2B4BD;
$color-gray-400: #717484;
$color-gray-500: #4B4D58;
$color-gray-600: #28292f;

$color-secondary-100: $color-gray-100;
$color-secondary-200: $color-gray-200;
$color-secondary-300: $color-gray-300;
$color-secondary-400: $color-gray-400;
$color-secondary-500: $color-gray-500;

$color-background-100: #FFF;
$color-background: #FAFAFA;
$color-background-600: #F4F4F6;
$color-background-orange: #FFDBC2;
$color-background-orange-400: #FFF3EB;

$color-sidebar: #FFF;
$color-text: $color-gray-500;

$color-green-100: #E7FAF1;
$color-green-200: #CDF4E1;
$color-green-400: #95E8C0;
$color-green-500: #89E6B9;

$color-cyan-50: #EAFAFF;
$color-cyan-500: #83E1FF;

$color-purple-50: #ECEEFE;
$color-purple-500: #9FA8F9;

$color-pink-50: #FEECFB;
$color-pink-500: #F99FEB;

$color-gold: #FBD85C;
$color-silver: #D8D8D8;
$color-brass: #F4A77B;
