$text-semibold: 600;
$text-regular: 400;

$text-xxxl: 36px;
$text-xxl: 30px;
$text-xl: 24px;
$text-lg: 20px;
$text-md: 18px;
$text-sm: 16px;
$text-xs: 14px;
$text-xxs: 12px;

$line-height-sm: 1;
$line-height-md: 1.2;
